@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* body */
body
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #5d326c, #350048); /* fiolet */
}

.container
{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* bbuttons */
.container .btn
{
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    height: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .btn a 
{
    position: absolute;
    top: 0;
    left: 0;
}